body {
    height: 100vh;
    background-image: url('../images/window.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center;
    background-size: cover; /* Resize the background image to cover the entire container */
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing-info {
    width: 42%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 4px lightgrey solid;
    border-radius: 10px;
    /* background-color: rgb(255, 255, 255, 0.8); */
}

h1 {
    margin: 10px;
    border-bottom: 4px lightgray solid;
}

p {
    margin: 10px;
}

#about-us {
    text-align: center;
    margin: 10px;
    font-size: 15px;
}

#first-visit-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

