@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
} 

* {
    margin:3px;
    font-family: OpenSans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    background-color: #333;
}


.attractions-btns {
    width: 100%;
    padding: 1rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    font-size: 1rem;
    text-align: center;
    background-color: white;
}

#app-main {
    display: flex;
}

/* literal left side of the web page. contains search bar and search results. */
#left-side {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* properties for site as it will look on user's first visit to it (when they don't have anything in local storage) */
#first-visit {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5de6de;
    background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
}

/* currently on #first-visit div. will toggle off on first visit, then toggle on after search */
.invisible {
    display: none;
}

#search-place-form {
    height: 4vh;  
}

/* centers the search bar on first visit as well as the p tag that will be displayed. Will need to be given to #search-place-from and then removed after search. */
.first-visit {
    z-index: 100;
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto; 
    width: 150px; 
    z-index: 100;
}

#search-results {
    background-color: lightblue;
    margin: 10px;
    width: 90%;
    height: 90vh;
    overflow: scroll;
    border: 2px solid black;
}

/* literal right side of the page. contains description of result clicked on, images of the place, and a map */
#right-side {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#descr-div {
    background-color: lightblue;
    width: 90%;
    overflow: scroll;
    height: 10vh;
    border: 2px solid black;
}

#place-img {
    object-fit: cover;
    width: 90%;
    height: 41.5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map {
    width: 90%;
    height: 42vh;
    border: 2px solid black;
}
